#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section {
    border: 2px solid black;
    width: 300px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

button:first-child {
    margin-left: 50px;
}

button[type=submit] {
    width: 100%;
    padding: 1em;
}